%section#introduction
  = image_tag "/images/mug.jpg", :id => "mug"

  %h1
    I build web applications using Ruby.
  %p
    When I'm not writing software, I also enjoy #{link_to "traveling", "http://travel.benhughes.name/"}, 
    playing tennis, playing piano, 
    and #{link_to "thinking about economics", "http://www.positiveexternality.com/"}.

  %ul#social
    %li
      %a{:href => "http://github.com/rubiety"}
        = image_tag "/images/icons/social/github_32.png"
        GitHub
    %li
      %a{:href => "http://twitter.com/rubiety"}
        = image_tag "/images/icons/social/twitter_32.png"
        Twitter
    %li
      %a{:href => "http://www.linkedin.com/profile/view?id=12549892"}
        = image_tag "/images/icons/social/linkedin_32.png"
        LinkedIn
    -#
      %li 
        %a{:href => "http://foursquare.com/rubiety"}
          = image_tag "/images/icons/social/foursquare_32.png"
          Foursquare
    %li 
      = image_tag "/images/icons/social/email_32.png"
      :javascript
        var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
        "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
        " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!09{)rt{y+xx=l;=+;" +
        "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
        "\"(9),7\\\"\\\\N;UFDY30\\\\0W\\\\5K00\\\\\\\\20\\\\0Z\\\\33\\\\05\\\\02\\\\" +
        "\\\\04\\\\00\\\\03\\\\\\\\01\\\\03\\\\01\\\\\\\\]|vy;$dD;st|ygj~MlfiU(b5qjw" +
        "m\\\"\\\\\\\\\\\\\\\\#\\\\\\\\r\\\\\\\\\\\\30\\\\0R\\\\23\\\\05\\\\03\\\\\\" +
        "\\14\\\\00\\\\02\\\\\\\\31\\\\03\\\\02\\\\\\\\27\\\\04\\\\26\\\\07\\\\03\\\\"+
        "\\\\7K03\\\\\\\\33\\\\02\\\\00\\\\\\\\04\\\\0r\\\\\\\\\\\\06\\\\0H\\\\U501\\"+
        "\\03\\\\00\\\\\\\\27\\\\04\\\\01\\\\\\\\3C00\\\\\\\\B]0w913//+\\\\y\\\\\\\"" +
        ";\\\\>12'+?\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt" +
        "+=;o27=1y%i;+=)y79==(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o ia" +
        "r{vy)x,f(n ioctun\\\"f)\")"                                                  ;
        while(x=eval(x));



%section#projects
  %h1 Developing:

  %div.grouping
    %article
      %h2= link_to "BluePassers", "http://bluepassers.com/"
      %p An online community and leader-board for JetBlue BluePass holders. Tweet your flight numbers and we'll track your journey!
    %article
      %h2= link_to "Jazzity - The Jazz Knowledge Engine", "http://jazzity.com/"
      %p A knowledge engine and community for jazz theory.
    %article
      %h2= link_to "Coworking Nomads", "http://coworkingnomads.com/"
      %p Ad-hoc coworking among independent workers.
    %article
      %h2= link_to "Ruby Scribe", "https://github.com/rubiety/ruby_scribe"
      %p An intelligent AST pretty-printer that generates nicely-formatted Ruby source code given Ruby S-expressions.
    %article
      %h2= link_to "Message Block", "http://github.com/rubiety/message_block"
      %p A replacement for error_messages_for that combines model errors and flash messages and is much more powerful/flexible.
    %article
      %h2= link_to "Has Draft", "http://github.com/rubiety/has_draft"
      %p Allows for your ActiveRecord models to have "drafts", edited separately from the live version.
    -# Disabling these for now...
      %article
        %h2= link_to "Has Meta Data", "http://github.com/rubiety/has_meta_data"
        %p Allows for your ActiveRecord models to have associated meta data without a separate model.
      %article
        %h2= link_to "Micro Sessions", "http://github.com/rubiety/micro_sessions"
        %p Sessions within a session indexed by a key.
      %article
        %h2= link_to "RSpecify", "http://github.com/rubiety/rspecify"
        %p Converts your Test::Unit (or minitest) tests with the help of ruby_parser, a series of AST transformations, and ruby_scribe.

%section#blogs
  %h1 Writing:

  %div.grouping
    %article
      %h2= link_to "Code Colossus", "http://www.codecolossus.com/"
      %p
        Software craftsmanship with Ruby
      -# Not looking right...
        %ul
          %li= link_to "Using ActiveModel::Name to simplify URL generation", "http://codecolossus.com/2011/05/01/using-activemodelname-to-simplify-url-generation/"
          %li= link_to "Why you should always validate maximum lengths in models", "http://codecolossus.com/2011/01/01/why-you-should-always-validate-db-maximum-lengths-and-how-to-do-so-easily/"
          %li= link_to "Farewell Rochester, Hello San Diego", "http://codecolossus.com/2010/09/02/farewell-rochester-hello-san-diego/"

    %article
      %h2= link_to "Positive Externality", "http://www.positiveexternality.com/"
      %p
        Tradeoffs, marginal costs, externalities, and rational thinking
      -# Not looking right...
        %ul
          %li= link_to "Taking Advantage of Resource Contention Inconstancy", "http://positiveexternality.com/2011/01/01/taking-advantage-of-resource-contention-inconstancy/"
          %li= link_to "Economics Questions on Labor Union 'Collective Bargaining Rights'", "http://positiveexternality.com/2011/02/26/economics-questions-on-labor-union-collective-bargaining-rights/"
          %li= link_to "Why You Pay So Much For College Textbooks", "http://positiveexternality.com/2008/03/11/why-you-pay-so-much-for-college-textbooks/"
    
%section#presentations    
  %h1 Presenting:

  %div.grouping
    %article
      %h2= link_to "Transforming Ruby Code", "http://www.scribd.com/doc/68361755/Transforming-Ruby-Code"
      %cite Boston Ruby - October 11, 2011
      %p Learn about automated refactoring, coding style/best practices enforcement, DSL translation, and more through AST transformations.
    %article
      %h2= link_to "The Ruby Idiom", "http://www.scribd.com/doc/53627636/The-Ruby-Idiom"
      %cite BarCamp Rochester - Spring 2011
      %p An overview of some of the unique features of the Ruby language and why Rubyists are so passionate about their craft. 
    %article
      %h2= link_to "World Traveling on a Shoestring Budget", "http://www.scribd.com/doc/53627690/Inexpensive-World-Traveling"
      %cite BarCamp San Diego - Winter 2011
      %p 
        Traveling doesn't have to be expensive - I cover tips and tricks for traveling internationally on a shoestring budget based on my recent experience 
        traveling 54,000 miles around the world for two months.
    %article
      %h2= link_to "Refactoring ActiveRecord Models", "http://sdruby.org/podcast/94"
      %cite SDRuby - February 3, 2011
      %p It's always important to keep your ActiveRecord models in tip-top shape. I explore several techniques for refactoring models and preventing them from getting out of hand.
    %article
      %h2= link_to "Message Block &amp; Testing Gems with Cukigem", "/files/presentations/message_block.pdf"
      %cite SDRuby - December 2, 2010
      %p Showing one of my gems, message_block, and how I went about testing it using a host rails application with the help of Cucumber and Cukigem.
    %article
      %h2= link_to "Testing with Cucumber", "/files/presentations/cucumber.pdf"
      %cite Rochester.rb - July 22, 2010
      %p Overview of Cucumber for behavior testing and using Pickle.
