- @title = "Ben Hughes: San Diego Ruby Developer, Travel Hacker, Economics Nerd"

%section#introduction
  = image_tag "/images/mug.jpg", :id => "mug"

  %h1
    I #{link_to "build web applications", "http://rubidiom.com"} with Ruby and CoffeeScript.
  %p
    When I'm not writing software, I also enjoy #{link_to "traveling", "http://travel.benhughes.name/"}, 
    playing tennis, noodling around with jazz piano, 
    and thinking about economics.

  %ul#social
    %li
      %a{:href => "http://github.com/rubiety"}
        = image_tag "/images/icons/social/github_32.png"
        GitHub
    %li
      %a{:href => "http://twitter.com/rubiety"}
        = image_tag "/images/icons/social/twitter_32.png"
        Twitter
    %li 
      = image_tag "/images/icons/social/email_32.png"
      :javascript
        var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
        "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
        " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!09{)rt{y+xx=l;=+;" +
        "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
        "\"(9),7\\\"\\\\N;UFDY30\\\\0W\\\\5K00\\\\\\\\20\\\\0Z\\\\33\\\\05\\\\02\\\\" +
        "\\\\04\\\\00\\\\03\\\\\\\\01\\\\03\\\\01\\\\\\\\]|vy;$dD;st|ygj~MlfiU(b5qjw" +
        "m\\\"\\\\\\\\\\\\\\\\#\\\\\\\\r\\\\\\\\\\\\30\\\\0R\\\\23\\\\05\\\\03\\\\\\" +
        "\\14\\\\00\\\\02\\\\\\\\31\\\\03\\\\02\\\\\\\\27\\\\04\\\\26\\\\07\\\\03\\\\"+
        "\\\\7K03\\\\\\\\33\\\\02\\\\00\\\\\\\\04\\\\0r\\\\\\\\\\\\06\\\\0H\\\\U501\\"+
        "\\03\\\\00\\\\\\\\27\\\\04\\\\01\\\\\\\\3C00\\\\\\\\B]0w913//+\\\\y\\\\\\\"" +
        ";\\\\>12'+?\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt" +
        "+=;o27=1y%i;+=)y79==(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o ia" +
        "r{vy)x,f(n ioctun\\\"f)\")"                                                  ;
        while(x=eval(x));



%section#projects
  %h1 Developing:

  %div.grouping
    %article
      %h2= link_to "BluePassers", "http://www.bluepassers.com/"
      %p An online community and leader-board for JetBlue BluePass holders. Tweet your flight numbers and we'll track your journey!
    %article
      %h2= link_to "Jazzity - The Jazz Knowledge Engine", "http://www.jazzity.com/"
      %p A knowledge engine and community for jazz theory.
    %article
      %h2= link_to "Ruby Scribe", "https://github.com/rubiety/ruby_scribe"
      %p An intelligent AST pretty-printer that generates nicely-formatted Ruby source code given Ruby S-expressions.
    %article
      %h2= link_to "Message Block", "http://github.com/rubiety/message_block"
      %p A replacement for error_messages_for that combines model errors and flash messages and is much more powerful/flexible.
    %article
      %h2= link_to "Has Draft", "http://github.com/rubiety/has_draft"
      %p Allows for your ActiveRecord models to have "drafts", edited separately from the live version.
    %article
      %h2= link_to "Has Meta Data", "http://github.com/rubiety/has_meta_data"
      %p Allows for your ActiveRecord models to have associated meta data without a separate model.
    %article
      %h2= link_to "Micro Sessions", "http://github.com/rubiety/micro_sessions"
      %p Sessions within a session indexed by a key.
    %article
      %h2= link_to "RSpecify", "http://github.com/rubiety/rspecify"
      %p Converts your Test::Unit (or minitest) tests with the help of ruby_parser, a series of AST transformations, and ruby_scribe.
    %article
      %h2= link_to "Vexflow-JSON", "http://github.com/rubiety/vexflow-json"
      %p A wrapper for the VexFlow staff engraving library to render staff notation from simple JSON.

%section#blogs
  %h1 Writing:

  %div.grouping
    %article
      %h2= link_to "Flight Leverage", "http://www.flightleverage.com/"
      %p
        Techniques in Travel Hacking
    %article
      %h2= link_to "Nomadic Travels Photo Blog", "http://travel.benhughes.name/"
      %p
        Thoughts, photos, and videos from my travel experiences.
    %article
      %h2= link_to "Code Colossus", "http://www.codecolossus.com/"
      %p
        On Software
    %article
      %h2= link_to "Positive Externality", "http://www.positiveexternality.com/"
      %p
        Tradeoffs, marginal costs, externalities, and non-intuitive thinking
    
%section#presentations    
  %h1 Presenting:

  %div.grouping
    %article
      %h2= link_to "Travel Hacking, Frequent Flyer Miles, &amp; Extreme Flying", "https://speakerdeck.com/rubiety/airline-travel-hacking-frequent-flyer-miles-and-extreme-flying"
      %cite BarCamp Rochester - Spring 2014
      %p An overview of some of the techniques travel hackers use to get incredible travel experiences for cheap.
    %article
      %h2= link_to "What's New in Rails 4", "https://speakerdeck.com/rubiety/whats-new-in-rails-4"
      %cite SD Ruby - February 7, 2013
      %p A run-down of new features in Rails 4 and tips for preparing your Rails 3 applications.
    %article
      %h2= link_to "Ember.js", "https://speakerdeck.com/u/rubiety/p/introduction-to-ember-dot-js"
      %cite San Diego JS - October 2, 2012
      %p Getting started with Ember.js.
    %article
      %h2= link_to "Credit Card Hacks", "https://speakerdeck.com/u/rubiety/p/credit-card-hacks"
      %cite BarCampRochester - April 14, 2012
      %p A presentation at BarCampRochester Spring 2012 on credit card points and optimization.
    %article
      %h2= link_to "Travel Hacking", "http://www.scribd.com/doc/70908450/Travel-Hacking"
      %cite BarCampRochester - October 19, 2011
      %p Tips, tricks, and "hacks" for getting the most value for your money out of travel.
    %article
      %h2= link_to "Transforming Ruby Code", "http://www.scribd.com/doc/68361755/Transforming-Ruby-Code"
      %cite Boston Ruby - October 11, 2011
      %p Learn about automated refactoring, coding style/best practices enforcement, DSL translation, and more through AST transformations.
    %article
      %h2= link_to "The Ruby Idiom", "http://www.scribd.com/doc/53627636/The-Ruby-Idiom"
      %cite BarCamp Rochester - Spring 2011
      %p An overview of some of the unique features of the Ruby language and why Rubyists are so passionate about their craft. 
    %article
      %h2= link_to "World Traveling on a Shoestring Budget", "http://www.scribd.com/doc/53627690/Inexpensive-World-Traveling"
      %cite BarCamp San Diego - Winter 2011
      %p 
        Traveling doesn't have to be expensive - I cover tips and tricks for traveling internationally on a shoestring budget based on my recent experience 
        traveling 54,000 miles around the world for two months.
    %article
      %h2= link_to "Refactoring ActiveRecord Models", "http://sdruby.org/podcast/94"
      %cite SD Ruby - February 3, 2011
      %p It's always important to keep your ActiveRecord models in tip-top shape. I explore several techniques for refactoring models and preventing them from getting out of hand.
    %article
      %h2= link_to "Testing with Cucumber", "/files/presentations/cucumber.pdf"
      %cite Rochester.rb - July 22, 2010
      %p Overview of Cucumber for behavior testing and using Pickle.
